

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

body {
    background-color: rgb(255, 255, 255);
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 5px solid black;
}

h1 {
    font-family: fantasy;
    font-size: 4em;
    font-weight: 600;
    margin: 0 0;
    text-shadow: 3px 3px 1px rgba(245, 117, 224, 0.46);
}

h3 {
    margin: 0;
    color: rgb(255, 255, 255);
    font-family: fantasy;
    font-size: 20px;
    font-weight: 300;
    display: block;
}

label {
    font-family: sans-serif;
    color: #6c7ffa;
    font-size: 15px;
    font-weight: 200;
    line-height: 2;
    letter-spacing: 1px;
    text-align: left;
}

header {
    display: block;
    padding: 8px 50px;
    background-color: #7487ff;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 45px;
}

header > .title {
    color: #fff;
    text-align: start;
    display: block;
    margin: 0 0;
    padding-left: 0;
}

main {
    display: block;
    margin: 0 auto;
    box-align: center
}

form {
    display: inline-block;
    width: 600px;
    text-align: center;
    margin-left: 10%;
}

.form_input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 16px;
    padding: 8px 16px;
    transition: transform 0.3s ease-out;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: #92ddff;
    font-family: sans-serif;
    font-size: 30px;
}

.x-input {
    margin-bottom: 16px;
}

.form_input::-webkit-input-placeholder {
    opacity: 0.6;
    color: #0004ff;
}

.form_input:focus {
    transition: transform 0.3s ease-out;
    transform: scale(1.02, 1.02);
}

.form_radio_btn input[type=radio] {
    display: none;
}

.form_radio_btn {
    display: inline-block;
    margin-right: 7px;
    width: 60px;
}

.form_radio_btn + label {
    display: inline-block;
    cursor: pointer;
    padding: 5px 15px;
    line-height: 34px;
    border: none;
    border-radius: 8px;
    user-select: none;
    background: #92ddff;
    width: 57px;
    font-size: 28px;
    color: #0004ff;
    margin: 3px 8px;
    text-align: center;
}

.form_radio_btn + label:hover {
    transition: transform 0.3s ease-out;
    color: #cf59b1;
    border: 1px solid #7487ff;
}

.form_button {
    display: inline-block;
    padding: 12px 32px;
    transition: all 0.3s ease-out;
    text-transform: uppercase;
    color: #fff;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: #7487ff;
    background-clip: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
}

button:hover {
    transition: all 0.3s ease-out;
    transform: scale(1.02, 1.02);
    box-shadow: rgba(255, 255, 255, 0.3) 0 0 16px 2px;
}

img {
    width: 150px;
    display: block;
    margin: 0 auto;
}

canvas {
    display: inline-block;
    padding-right: 0;
    object-position: left;
    margin-left: 13%;
    margin-right: 10%;
}

.link-to-page {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 20000;
    cursor: pointer;
    width: 50px;
}

.link-to-page img {
    width: 100%;
    height: auto;
    display: block;
}

.clear {
    clear: both;
}

.ifmo {
    box-align: center;
    margin: 3% auto 0;
}

.block {
    display: inline-block;
    margin: 10px;
}

table{
    width: 90%;
    margin: 30px auto;
    color: #7487ff;
    font-family: sans-serif;
    font-size: 20px;
}

th, td {
    text-align: center;
}